*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 10px;
    padding: 15px 50px;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.links {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    display: flex;
    gap: 30px;
}

.links a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}

.nav-container ul {
    list-style-type: none;
}

.links a:hover {
    color: #4d9266;
}

.btn {
    background-color: #4d9266;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    border-radius: 6px;
    border: none;
}

.btn:hover {
    background-color: lightgreen;
    cursor: pointer;
}

.new-button {
    background-color: transparent;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    border-radius: 6px;
    border: 1px solid white;
}

.new-button:hover {
    background-color: white;
    color: #6e584e7e;
    cursor: pointer;
}
.new-button a{
    text-decoration: none;
    color: rgba(141, 87, 66, 0.678);
}

.btn a{
    text-decoration: none;
    color: white;
}

.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    height: 674px;
    width: 100%;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.content-container {
    position: relative;
    max-width: 800px;
    padding: 20px;
}

.badge {
    display: inline-flex;
    align-items: center;
    background-color: white;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 14px;
    color: #4ade80;
    margin-bottom: 16px;
}

.badge:hover{
    box-shadow: 0 0 12px #4ade80;
    cursor: pointer;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #4ade80;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    box-shadow: 0 0 8px #4ade80;
}

.advice {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}

.colour-change {
    color: #4d9266;
}

.description {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.6;
    color: #cbd5e1;
}

.notes-container {
    background-color: #ffffff;
    color: #001d3d;
    justify-content: center;
    padding: 80px 20px;
    text-align: center;
}

.section-header h1{
    margin: 0 120px 18px;
    font-weight: 800;
}

.section-header p {
    color: #6c757d;
    font-size: 16px;
    margin-bottom: 15px;
}

.card {
    width: 322px;
    height: 300px;
    font-size: 16px;
    padding: 24px;
    color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container .image {
    background-color: #F95555;
    background-size: 60px 60px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.card-container{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.card-container .card h3{
    width: 274px;
    height: 29px;
    line-height: auto;
    color: #001931;
    margin: 16px auto;
    text-align: center;

}

.card-container .card p{
    width: 274px;
    height: 96px;
    margin: 0 auto;
    color: #6c757d;
    text-align: center;
}

.solution-section {
    display: flex;
    gap: 80px;
    align-items: center;
    max-width: 1100px;
    padding: 40px;
    margin: 120px 120px 40px 120px;
}

.solution-section .solution-image {
    width: 600px;
    height: 600px;
}
.secound-solution h4{
    width: 700px;
    height: 20px;
    font-size: 16px;
    color: #469165;
    margin-bottom: 16px;
}

.secound-solution h2{
    width: 700px;
    height: 116px;
    font-size: 48px;
    font-weight: bold;
    line-height: auto;
    color: #001931;
    margin-bottom: 16px;
}

.secound-solution p{
    width: 700px;
    height: 60px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.first , .secound , .thierd , .fourth {
    display: flex;
    gap: 6px;
    margin: 0;
}

.features-list{
    list-style: none;
}

.features-list li {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 18px;
    color: #0f172a;
    font-weight: 500;
}

.challenge-section {
    text-align: center;
    margin: 2px auto 120px;
    background-color: #F7F6F2;
    width: 1360px;
    height: 384px;
    gap: 24px;
    padding: 80px 40px;
    border-radius: 12px;
}

.challenge-section h2 {
    margin-bottom: 16px;
    width: 1280px;
    height: 48px;
    font-size: 40px;
    font-weight: bold;
    line-height: auto;
    color: #001931;
}

.challenge-section p {
    margin-bottom: 24px;
    width: 1280px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}

.challenge-section .early {
    margin-top: 16px;
    font-size: 16px;
    color: #627382;
    width: 1280px;
    height: 20px;
    line-height: 20px;
}

.footer-section {
    width: 1600px;
    height: 348px;
    padding: 120px auto 120px;
    background-color: #001931;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 200px;   
}